* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: #1892A6;
    padding: 30px ;
}
.title {
    font-size: 3.6rem;
    color: #fff;
    text-shadow: 1px 1px 12px rgb(49, 21, 121), -1px -1px 12px rgb(49, 21, 121);
}
.add-card-btn, 
.del-card-btn {
    font-size: 1.1rem;
    padding: 5px 10px;
    margin-top: 20px;
    outline: none;
    border: none;
    color: rgb(25, 11, 59);
    border-radius: 3px;
}
.add-card-btn:hover, 
.del-card-btn:hover {
    color: #fff;
    background: rgb(49, 21, 121);
}
.flashcards-container{
    position: absolute;
    background: #fff;
    top: 110px;
    right: 30px;
    width: 360px;
    height: 200px;
    box-shadow: 1px 1px 12px , -1px -1px 12px;
    padding: 15px 5px;
}
.cards {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.flashcards-container p {
    margin-top: 5px;
}
.input-question ,
.input-answer {
    padding: 5px 30px 0 5px;
    outline: none;
}
.save-close-btn {
    width: 100%;
    text-align: center;
    margin-top: 25px;
}
.save-card-btn ,
.close-card-btn {
    padding: 6px 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: rgb(41, 23, 88);
    color: #fff;
}
@media only screen and (max-width: 650px) {
    .header {
        flex-direction: column;
        padding: 15px;
    }
    .title {
        font-size: 3rem;
    }
    .add-card-btn, 
    .del-card-btn {
        padding: 5px;
        font-size: 0.95rem;
    }
}